.footer {
  position: relative;
  width: 1920px;
  height: 174px;
}

.footer .rectangle {
  width: 100%;
  height: 77.01%;
  background-color: var(--ultra-dark50);
  position: absolute;
  top: 0;
  left: 0;
}

.footer .group {
  position: absolute;
  width: 100.10%;
  height: 22.99%;
  top: 77.01%;
  left: 0;
}

.footer .div {
  width: 99.90%;
  height: 100%;
  background-color: var(--ultra-dark20);
  position: absolute;
  top: 0;
  left: 0;
}

.footer .text-wrapper {
  position: absolute;
  width: 13.01%;
  height: 60.00%;
  top: 20.00%;
  left: 15.09%;
  font-family: var(--text-16-medium-font-family);
  font-weight: var(--text-16-medium-font-weight);
  color: var(--neutral-gray50);
  font-size: var(--text-16-medium-font-size);
  letter-spacing: var(--text-16-medium-letter-spacing);
  line-height: var(--text-16-medium-line-height);
  white-space: nowrap;
  font-style: var(--text-16-medium-font-style);
}

.footer .frame {
  display: flex;
  width: 69.79%;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  height: 35.63%;
  top: 20.69%;
  left: 15.10%;
}

.footer .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.footer .img {
  position: relative;
  flex: 0 0 auto;
}

.footer .p {
  position: relative;
  width: 415px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--neutral-gray50);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21.8px;
}

.footer .frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.footer .navbar {
  display: inline-flex;
  align-items: flex-start;
  gap: 39px;
  position: relative;
  flex: 0 0 auto;
}

.footer .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--neutral-gray50);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21.8px;
  white-space: nowrap;
}
