.frame {
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 290px;
  display: flex;
  position: relative;
}

.frame .title-MOB {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .text-wrapper {
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--popins-52-h2-font-family);
  font-weight: var(--popins-52-h2-font-weight);
  color: var(--neutral-gray10);
  font-size: var(--popins-52-h2-font-size);
  letter-spacing: var(--popins-52-h2-letter-spacing);
  line-height: var(--popins-52-h2-line-height);
  display: flex;
  position: relative;
  font-style: var(--popins-52-h2-font-style);
}

.frame .img {
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
