.frame {
  display: flex;
  align-items: center;
  gap: 80px;
  padding: 0px 290px;
  position: relative;
}

.frame .view {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.frame .title-MOB {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--popins-52-h2-font-family);
  font-weight: var(--popins-52-h2-font-weight);
  color: var(--neutral-gray10);
  font-size: var(--popins-52-h2-font-size);
  letter-spacing: var(--popins-52-h2-letter-spacing);
  line-height: var(--popins-52-h2-line-height);
  font-style: var(--popins-52-h2-font-style);
}

.frame .div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 0px 0px 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .div {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--neutral-gray50);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28.8px;
}

.frame .apps {
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .img {
  position: relative;
  width: 600px;
  height: 620px;
}
/* Original CSS should be injected here */

.frame {
  display: flex;
  align-items: center;
  gap: 80px;
  padding: 0px 290px;
  position: relative;
}

.frame .view {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.frame .title-MOB {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--popins-52-h2-font-family);
  font-weight: var(--popins-52-h2-font-weight);
  color: var(--neutral-gray10);
  font-size: var(--popins-52-h2-font-size);
  letter-spacing: var(--popins-52-h2-letter-spacing);
  line-height: var(--popins-52-h2-line-height);
  font-style: var(--popins-52-h2-font-style);
}

.frame .div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 0px 0px 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .div {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--neutral-gray50);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28.8px;
}

.frame .apps {
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .img-container {
  margin: 0;
  padding: 0;
}

.frame .img {
  position: relative;
  width: 600px;
  height: 620px;
}

.frame .app-link {
  display: block;
  text-decoration: none;
}

.frame .app-link img {
  display: block;
  width: 100%;
  height: auto;
}
