.frame {
  display: flex;
  flex-direction: column;
  width: 1340px;
  align-items: flex-start;
  padding: 64px 52px;
  position: relative;
  background-color: var(--ultra-gray20);
  border-radius: 32px;
}

.frame .div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.frame .title-MOB {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 32px;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--popins-52-h2-font-family);
  font-weight: var(--popins-52-h2-font-weight);
  color: var(--neutral-gray10);
  font-size: var(--popins-52-h2-font-size);
  letter-spacing: var(--popins-52-h2-letter-spacing);
  line-height: var(--popins-52-h2-line-height);
  white-space: nowrap;
  font-style: var(--popins-52-h2-font-style);
}

.frame .div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.frame .component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--ultra-gray30);
  border-radius: 24px;
}

.frame .div-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 24px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.frame .title-MOB-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.frame .text-wrapper-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--popins-24-h4-font-family);
  font-weight: var(--popins-24-h4-font-weight);
  color: var(--neutral-gray10);
  font-size: var(--popins-24-h4-font-size);
  letter-spacing: var(--popins-24-h4-letter-spacing);
  line-height: var(--popins-24-h4-line-height);
  font-style: var(--popins-24-h4-font-style);
}

.frame .majesticons-plus {
  position: relative;
  width: 24px;
  height: 24px;
}

.frame .vector {
  position: absolute;
  width: 58.33%;
  height: 58.33%;
  top: 14.58%;
  left: 14.58%;
}

.frame .div-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.frame .p {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: var(--inter-18-font-family);
  font-weight: var(--inter-18-font-weight);
  color: var(--neutral-gray50);
  font-size: var(--inter-18-font-size);
  letter-spacing: var(--inter-18-letter-spacing);
  line-height: var(--inter-18-line-height);
  font-style: var(--inter-18-font-style);
}

.frame .frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 32px 0px 0px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.frame .chips-wrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.frame .chips {
  display: flex;
  width: 256px;
  height: 60px;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 0px 44px;
  position: relative;
  background-color: var(--ultra-orange30);
  border-radius: 100px;
}

.frame .name {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--ultra-gray30);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21.6px;
  white-space: nowrap;
}
