.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 32px;
  position: relative;
}

.frame .div {
  display: flex;
  align-items: center;
  gap: 80px;
  padding: 52px 258px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--ultra-gray20);
  border-radius: 32px;
}

.frame .group-wrapper {
  position: relative;
  width: 600px;
  height: 620px;
}

.frame .group {
  position: relative;
  height: 620px;
  background-color: #ffffff;
  border-radius: 24px;
}

.frame .ellipse {
  position: absolute;
  top: 80px;
  left: 70px;
  width: 460px;
  height: 460px;
  background-color: #f7f7f7;
  border-radius: 230px;
}

.frame .div-2 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  padding: 12px 24px;
  position: absolute;
  top: 139px;
  left: 274px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 5px 35px #3939391a;
}

.frame .rectangle {
  position: relative;
  width: 2px;
  height: 46px;
  background-color: #ff7d34;
}

.frame .div-3 {
  display: flex;
  flex-direction: column;
  width: 102px;
  align-items: flex-start;
  gap: 2px;
  position: relative;
}

.frame .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.frame .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  font-family: var(--inter-14-font-family);
  font-weight: var(--inter-14-font-weight);
  color: var(--light-gray50);
  font-size: var(--inter-14-font-size);
  letter-spacing: var(--inter-14-letter-spacing);
  line-height: var(--inter-14-line-height);
  font-style: var(--inter-14-font-style);
}

.frame .div-wrapper {
  position: relative;
  width: 52px;
  height: 52px;
  background-color: #f6f6f6;
  border-radius: 26px;
}

.frame .vector-wrapper {
  position: relative;
  top: 14px;
  left: 14px;
  width: 24px;
  height: 24px;
}

.frame .vector {
  position: absolute;
  width: 83.33%;
  height: 75.67%;
  top: 12.17%;
  left: 8.33%;
}

.frame .div-4 {
  top: 395px;
  left: 274px;
  box-shadow: 0px 5px 35px #3939391a;
  display: inline-flex;
  align-items: center;
  gap: 24px;
  padding: 12px 24px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 12px;
}

.frame .img {
  position: absolute;
  width: 75.00%;
  height: 66.67%;
  top: 16.67%;
  left: 12.50%;
}

.frame .view {
  position: absolute;
  top: 50px;
  left: 68px;
  width: 252px;
  height: 520px;
}

.frame .apple-iphone-pro {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 242px;
  height: 515px;
  background-color: #d9d9d9;
  border-radius: 53px;
  box-shadow: 0px 5px 35px #3d3d3d26;
}

.frame .apple-iphone-pro-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 252px;
  height: 520px;
  object-fit: cover;
}

.frame .apple-iphone-pro-3 {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 232px;
  height: 502px;
}

.frame .div-5 {
  top: 267px;
  left: 242px;
  box-shadow: 0px 5px 35px #39393926;
  display: inline-flex;
  align-items: center;
  gap: 24px;
  padding: 12px 24px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 12px;
}

.frame .vector-2 {
  position: absolute;
  width: 71.22%;
  height: 71.22%;
  top: 14.39%;
  left: 14.39%;
}

.frame .view-2 {
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.frame .title-MOB {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .text-wrapper-3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--popins-52-h2-font-family);
  font-weight: var(--popins-52-h2-font-weight);
  color: var(--neutral-gray10);
  font-size: var(--popins-52-h2-font-size);
  letter-spacing: var(--popins-52-h2-letter-spacing);
  line-height: var(--popins-52-h2-line-height);
  white-space: nowrap;
  font-style: var(--popins-52-h2-font-style);
}

.frame .view-3 {
  gap: 16px;
  padding: 0px 0px 32px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.frame .p {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--inter-18-font-family);
  font-weight: var(--inter-18-font-weight);
  color: var(--neutral-gray50);
  font-size: var(--inter-18-font-size);
  letter-spacing: var(--inter-18-letter-spacing);
  line-height: var(--inter-18-line-height);
  font-style: var(--inter-18-font-style);
}

.frame .div-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  padding: 0px 0px 48px;
  position: relative;
  flex: 0 0 auto;
}

.frame .div-7 {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .fluent-checkmark-wrapper {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: var(--neutral-gray30);
  border-radius: 12px;
}

.frame .fluent-checkmark {
  position: relative;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
}

.frame .vector-3 {
  position: absolute;
  width: 62.51%;
  height: 45.85%;
  top: 25.00%;
  left: 20.80%;
}

.frame .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--inter-18-font-family);
  font-weight: var(--inter-18-font-weight);
  color: var(--neutral-gray50);
  font-size: var(--inter-18-font-size);
  letter-spacing: var(--inter-18-letter-spacing);
  line-height: var(--inter-18-line-height);
  white-space: nowrap;
  font-style: var(--inter-18-font-style);
}

.frame .chips {
  display: flex;
  width: 256px;
  height: 60px;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 0px 44px;
  position: relative;
  background-color: var(--ultra-orange30);
  border-radius: 100px;
}

.frame .name {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--ultra-gray30);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21.6px;
  white-space: nowrap;
}
