.frame {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 32px;
  display: flex;
  position: relative;
}

.frame .div {
  display: flex;
  align-items: center;
  gap: 80px;
  padding: 100px 258px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--ultra-gray20);
  border-radius: 32px;
  overflow: hidden;
}

.frame .group-wrapper {
  position: relative;
  width: 600px;
  height: 620px;
  background-color: var(--ultra-gray30);
  border-radius: 24px;
  overflow: hidden;
}

.frame .group {
  position: relative;
  top: 10px;
  width: 580px;
  height: 610px;
}

.frame .ellipse {
  position: absolute;
  top: 78px;
  left: 85px;
  width: 460px;
  height: 460px;
  background-color: var(--ultra-gray20);
  border-radius: 230px;
}

.frame .group-2 {
  position: absolute;
  width: 580px;
  height: 610px;
  top: 0;
  left: 0;
}

.frame .img {
  position: absolute;
  top: -10px;
  left: 0;
  width: 552px;
  height: 620px;
}

.frame .group-3 {
  position: absolute;
  top: 45px;
  left: 45px;
  width: 535px;
  height: 386px;
  display: flex;
  gap: 104px;
}

.frame .div-2 {
  display: inline-flex;
  width: 211px;
  height: 72px;
  position: relative;
  align-items: center;
  gap: 32px;
  padding: 8px 20px;
  background-color: #ffffff;
  border-radius: 12px 12px 0px 12px;
  box-shadow: 0px 5px 35px #3939391a;
}

.frame .div-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--inter-14-font-family);
  font-weight: var(--inter-14-font-weight);
  color: var(--neutral-gray50);
  font-size: var(--inter-14-font-size);
  letter-spacing: var(--inter-14-letter-spacing);
  line-height: var(--inter-14-line-height);
  white-space: nowrap;
  font-style: var(--inter-14-font-style);
}

.frame .text-wrapper-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--neutral-gray10);
  font-size: 26px;
  letter-spacing: 0;
  line-height: 33.8px;
  white-space: nowrap;
}

.frame .group-4 {
  position: relative;
  width: 52px;
  height: 52px;
}

.frame .div-wrapper {
  margin-top: 259px;
  width: 220px;
  height: 127px;
  display: flex;
}

.frame .group-5 {
  width: 222px;
  height: 127.74px;
  position: relative;
}

.frame .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 128px;
  background-color: #ffffff;
  border-radius: 12px 12px 12px 0px;
  box-shadow: 0px 5px 35px #39393926;
}

.frame .div-4 {
  display: flex;
  flex-direction: column;
  width: 210px;
  align-items: flex-start;
  position: absolute;
  top: 27px;
  left: 0;
}

.frame .div-wrapper-2 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 0px 4px 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  border-color: #e5e5eb80;
}

.frame .text-wrapper-3 {
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -0.50px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: var(--neutral-gray70);
  font-size: 6px;
  letter-spacing: 0;
  line-height: 9.6px;
  white-space: nowrap;
  display: flex;
  position: relative;
}

.frame .text-wrapper-4 {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: var(--neutral-gray10);
  font-size: 10px;
  letter-spacing: 0;
  line-height: 13.0px;
  white-space: nowrap;
}

.frame .div-5 {
  display: flex;
  width: 176px;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  top: 34px;
  left: 34px;
}

.frame .rectangle-2 {
  position: relative;
  width: 16px;
  height: 27px;
  background-color: #96f775;
  border-radius: 12px;
}

.frame .rectangle-3 {
  position: relative;
  width: 16px;
  height: 47px;
  background-color: #96f775;
  border-radius: 12px;
}

.frame .rectangle-4 {
  position: relative;
  width: 16px;
  height: 39px;
  background-color: #96f775;
  border-radius: 12px;
}

.frame .rectangle-5 {
  position: relative;
  width: 16px;
  height: 59px;
  background-color: #96f775;
  border-radius: 12px;
}

.frame .rectangle-6 {
  position: relative;
  width: 16px;
  height: 51px;
  background-color: #96f775;
  border-radius: 12px;
}

.frame .rectangle-7 {
  position: relative;
  width: 16px;
  height: 66px;
  background-color: #96f775;
  border-radius: 12px;
}

.frame .rectangle-8 {
  position: relative;
  width: 16px;
  height: 74px;
  background-color: #96f775;
  border-radius: 12px;
}

.frame .rectangle-9 {
  position: relative;
  width: 16px;
  height: 83px;
  background-color: #96f775;
  border-radius: 12px;
}

.frame .view {
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.frame .title-MOB {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .text-wrapper-5 {
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--popins-52-h2-font-family);
  font-weight: var(--popins-52-h2-font-weight);
  color: var(--neutral-gray10);
  font-size: var(--popins-52-h2-font-size);
  letter-spacing: var(--popins-52-h2-letter-spacing);
  line-height: var(--popins-52-h2-line-height);
  white-space: nowrap;
  display: flex;
  position: relative;
  font-style: var(--popins-52-h2-font-style);
}

.frame .view-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 0px 0px 64px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .p {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--inter-18-font-family);
  font-weight: var(--inter-18-font-weight);
  color: var(--neutral-gray50);
  font-size: var(--inter-18-font-size);
  letter-spacing: var(--inter-18-letter-spacing);
  line-height: var(--inter-18-line-height);
  font-style: var(--inter-18-font-style);
}

.frame .div-6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .div-7 {
  display: flex;
  width: 443px;
  align-items: center;
  gap: 12px;
  position: relative;
}

.frame .rectangle-10 {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 8px;
  background-color: var(--ultra-orange30);
  border-radius: 3.5px;
}

.frame .rectangle-11 {
  position: relative;
  width: 97px;
  height: 8px;
  background-color: var(--neutral-gray80);
  border-radius: 3.5px;
}
