.frame {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 32px;
  display: flex;
  position: relative;
}

.frame .div {
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 258px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--ultra-dark20);
  border-radius: 32px;
  display: flex;
  position: relative;
}

.frame .div-2 {
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 64px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.frame .title-MOB {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--popins-52-h2-font-family);
  font-weight: var(--popins-52-h2-font-weight);
  color: var(--ultra-gray30);
  font-size: var(--popins-52-h2-font-size);
  text-align: center;
  letter-spacing: var(--popins-52-h2-letter-spacing);
  line-height: var(--popins-52-h2-line-height);
  font-style: var(--popins-52-h2-font-style);
}

.frame .view {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.frame .p {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--inter-18-font-family);
  font-weight: var(--inter-18-font-weight);
  color: var(--neutral-gray50);
  font-size: var(--inter-18-font-size);
  text-align: center;
  letter-spacing: var(--inter-18-letter-spacing);
  line-height: var(--inter-18-line-height);
  font-style: var(--inter-18-font-style);
}

.frame .div-3 {
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.frame .div-4 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 36px;
  flex: 1;
  flex-grow: 1;
  background-color: var(--ultra-dark30);
  border-radius: 24px;
  display: flex;
  position: relative;
}

.frame .group {
  position: relative;
  width: 72px;
  height: 72px;
}

.frame .div-5 {
  flex-direction: column;
  width: 347px;
  align-items: center;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.frame .title-MOB-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .text-wrapper-2 {
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--popins-24-h4-font-family);
  font-weight: var(--popins-24-h4-font-weight);
  color: var(--ultra-gray30);
  font-size: var(--popins-24-h4-font-size);
  text-align: center;
  letter-spacing: var(--popins-24-h4-letter-spacing);
  line-height: var(--popins-24-h4-line-height);
  display: flex;
  position: relative;
  font-style: var(--popins-24-h4-font-style);
}

.frame .you-will-be-able-to-wrapper {
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}
