.cricket-match {
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 290px;
  display: flex;
  position: relative;
}

.cricket-match .frame {
  display: flex;
  width: 1336px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 32px;
  position: relative;
  flex: 0 0 auto;
}

.cricket-match .title-MOB {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.cricket-match .text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--popins-52-h2-font-family);
  font-weight: var(--popins-52-h2-font-weight);
  color: var(--neutral-gray10);
  font-size: var(--popins-52-h2-font-size);
  line-height: var(--popins-52-h2-line-height);
  white-space: nowrap;
  position: relative;
  letter-spacing: var(--popins-52-h2-letter-spacing);
  font-style: var(--popins-52-h2-font-style);
}

.cricket-match .div {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.cricket-match .group {
  position: relative;
  width: 52px;
  height: 52px;
}

.cricket-match .frame-2 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  overflow: hidden;
}

.cricket-match .frame-3 {
  display: flex;
  width: 880px;
  align-items: center;
  gap: 32px;
  padding: 12px 32px 12px 12px;
  position: relative;
  background-color: var(--ultra-gray20);
  border-radius: 24px;
}

.cricket-match .rectangle {
  position: relative;
  width: 272px;
  height: 320px;
  object-fit: cover;
}

.cricket-match .frame-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.cricket-match .frame-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.cricket-match .text-wrapper-2 {
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--popins-24-h4-font-family);
  font-weight: var(--popins-24-h4-font-weight);
  color: var(--light-gray10);
  font-size: var(--popins-24-h4-font-size);
  letter-spacing: var(--popins-24-h4-letter-spacing);
  line-height: var(--popins-24-h4-line-height);
  white-space: nowrap;
  display: flex;
  position: relative;
  font-style: var(--popins-24-h4-font-style);
}

.cricket-match .frame-6 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.cricket-match .star {
  position: relative;
  width: 18.67px;
  height: 17.86px;
}

.cricket-match .p {
  align-self: stretch;
  font-family: var(--inter-18-font-family);
  font-weight: var(--inter-18-font-weight);
  color: var(--neutral-gray50);
  font-size: var(--inter-18-font-size);
  line-height: var(--inter-18-line-height);
  position: relative;
  letter-spacing: var(--inter-18-letter-spacing);
  font-style: var(--inter-18-font-style);
}

.cricket-match .img {
  position: relative;
  width: 24px;
  height: 24px;
  margin-top: -23869.00px;
  margin-left: -16015.00px;
}
