:root {
  --brand-color10: rgba(248, 164, 96, 1);
  --brand-color20: rgba(253, 179, 101, 1);
  --brand-color30: rgba(255, 194, 120, 1);
  --brand-color40: rgba(255, 202, 137, 1);
  --brand-color50: rgba(255, 210, 154, 1);
  --brand-color60: rgba(255, 217, 171, 1);
  --brand-color70: rgba(255, 225, 187, 1);
  --brand-color80: rgba(255, 232, 204, 1);
  --brand-color90: rgba(255, 240, 221, 1);
  --brand-color95: rgba(255, 247, 238, 1);
  --neutral-gray10: rgba(25, 27, 35, 1);
  --neutral-gray20: rgba(46, 48, 56, 1);
  --neutral-gray30: rgba(69, 70, 79, 1);
  --neutral-gray40: rgba(93, 94, 103, 1);
  --neutral-gray50: rgba(117, 118, 127, 1);
  --neutral-gray60: rgba(143, 144, 154, 1);
  --neutral-gray70: rgba(170, 170, 180, 1);
  --neutral-gray80: rgba(198, 198, 208, 1);
  --neutral-gray90: rgba(225, 225, 236, 1);
  --neutral-gray95: rgba(240, 240, 251, 1);
  --dark-gray10: rgba(3, 4, 6, 1);
  --dark-gray20: rgba(4, 5, 7, 1);
  --dark-gray30: rgba(5, 6, 9, 1);
  --dark-gray40: rgba(6, 7, 12, 1);
  --dark-gray50: rgba(7, 9, 14, 1);
  --dark-gray60: rgba(9, 11, 18, 1);
  --dark-gray70: rgba(11, 14, 23, 1);
  --dark-gray80: rgba(14, 17, 28, 1);
  --dark-gray90: rgba(18, 22, 35, 1);
  --dark-gray95: rgba(22, 27, 44, 1);
  --light-gray10: rgba(28, 33, 50, 1);
  --light-gray20: rgba(43, 48, 66, 1);
  --light-gray30: rgba(65, 70, 89, 1);
  --light-gray40: rgba(89, 94, 113, 1);
  --light-gray50: rgba(113, 118, 139, 1);
  --light-gray60: rgba(139, 144, 166, 1);
  --light-gray70: rgba(165, 170, 192, 1);
  --light-gray80: rgba(193, 197, 220, 1);
  --light-gray90: rgba(221, 225, 249, 1);
  --light-gray95: rgba(238, 240, 255, 1);
  --mid-gray10: rgba(20, 25, 40, 1);
  --mid-gray20: rgba(26, 32, 53, 1);
  --mid-gray30: rgba(32, 39, 63, 1);
  --mid-gray40: rgba(38, 47, 76, 1);
  --mid-gray50: rgba(46, 56, 91, 1);
  --mid-gray60: rgba(55, 67, 110, 1);
  --mid-gray70: rgba(66, 81, 131, 1);
  --mid-gray80: rgba(79, 97, 158, 1);
  --mid-gray90: rgba(95, 116, 189, 1);
  --mid-gray95: rgba(113, 139, 227, 1);
  --ultra-gray20: rgba(243, 244, 245, 1);
  --ultra-gray30: rgba(252, 253, 254, 1);
  --ultra-orange30: rgba(255, 125, 52, 1);
  --ultra-orange95: rgba(253, 240, 234, 1);
  --ultra-dark20: rgba(18, 14, 11, 1);
  --ultra-dark30: rgba(22, 20, 18, 1);
  --ultra-dark50: rgba(26, 25, 25, 1);
  --outfit-72-font-family: "Outfit", Helvetica;
  --outfit-72-font-weight: 600;
  --outfit-72-font-size: 72px;
  --outfit-72-letter-spacing: 0px;
  --outfit-72-line-height: 120.00000476837158%;
  --outfit-72-font-style: normal;
  --outfit-64-font-family: "Outfit", Helvetica;
  --outfit-64-font-weight: 600;
  --outfit-64-font-size: 64px;
  --outfit-64-letter-spacing: 0px;
  --outfit-64-line-height: 120.00000476837158%;
  --outfit-64-font-style: normal;
  --outfit-52-font-family: "Outfit", Helvetica;
  --outfit-52-font-weight: 600;
  --outfit-52-font-size: 52px;
  --outfit-52-letter-spacing: 0px;
  --outfit-52-line-height: 120.00000476837158%;
  --outfit-52-font-style: normal;
  --outfit-42-font-family: "Outfit", Helvetica;
  --outfit-42-font-weight: 600;
  --outfit-42-font-size: 42px;
  --outfit-42-letter-spacing: 0px;
  --outfit-42-line-height: 120.00000476837158%;
  --outfit-42-font-style: normal;
  --outfit-36-font-family: "Outfit", Helvetica;
  --outfit-36-font-weight: 600;
  --outfit-36-font-size: 36px;
  --outfit-36-letter-spacing: 0px;
  --outfit-36-line-height: 120.00000476837158%;
  --outfit-36-font-style: normal;
  --outfit-30-font-family: "Outfit", Helvetica;
  --outfit-30-font-weight: 600;
  --outfit-30-font-size: 30px;
  --outfit-30-letter-spacing: 0px;
  --outfit-30-line-height: 120.00000476837158%;
  --outfit-30-font-style: normal;
  --outfit-24-font-family: "Outfit", Helvetica;
  --outfit-24-font-weight: 600;
  --outfit-24-font-size: 24px;
  --outfit-24-letter-spacing: 0px;
  --outfit-24-line-height: 120.00000476837158%;
  --outfit-24-font-style: normal;
  --outfit-20-font-family: "Outfit", Helvetica;
  --outfit-20-font-weight: 600;
  --outfit-20-font-size: 20px;
  --outfit-20-letter-spacing: 0px;
  --outfit-20-line-height: 120.00000476837158%;
  --outfit-20-font-style: normal;
  --outfit-18-font-family: "Outfit", Helvetica;
  --outfit-18-font-weight: 600;
  --outfit-18-font-size: 18px;
  --outfit-18-letter-spacing: 0px;
  --outfit-18-line-height: 120.00000476837158%;
  --outfit-18-font-style: normal;
  --outfit-16-font-family: "Outfit", Helvetica;
  --outfit-16-font-weight: 600;
  --outfit-16-font-size: 16px;
  --outfit-16-letter-spacing: 0px;
  --outfit-16-line-height: 120.00000476837158%;
  --outfit-16-font-style: normal;
  --outfit-14-font-family: "Outfit", Helvetica;
  --outfit-14-font-weight: 600;
  --outfit-14-font-size: 14px;
  --outfit-14-letter-spacing: 0px;
  --outfit-14-line-height: 120.00000476837158%;
  --outfit-14-font-style: normal;
  --outfit-12-font-family: "Outfit", Helvetica;
  --outfit-12-font-weight: 600;
  --outfit-12-font-size: 12px;
  --outfit-12-letter-spacing: 0px;
  --outfit-12-line-height: 120.00000476837158%;
  --outfit-12-font-style: normal;
  --outfit-10-font-family: "Outfit", Helvetica;
  --outfit-10-font-weight: 600;
  --outfit-10-font-size: 10px;
  --outfit-10-letter-spacing: 0px;
  --outfit-10-line-height: 120.00000476837158%;
  --outfit-10-font-style: normal;
  --outfit-8-font-family: "Outfit", Helvetica;
  --outfit-8-font-weight: 600;
  --outfit-8-font-size: 8px;
  --outfit-8-letter-spacing: 0px;
  --outfit-8-line-height: 120.00000476837158%;
  --outfit-8-font-style: normal;
  --inter-8-font-family: "Inter", Helvetica;
  --inter-8-font-weight: 500;
  --inter-8-font-size: 8px;
  --inter-8-letter-spacing: 0px;
  --inter-8-line-height: 160.0000023841858%;
  --inter-8-font-style: normal;
  --inter-10-font-family: "Inter", Helvetica;
  --inter-10-font-weight: 500;
  --inter-10-font-size: 10px;
  --inter-10-letter-spacing: 0px;
  --inter-10-line-height: 160.0000023841858%;
  --inter-10-font-style: normal;
  --inter-12-font-family: "Inter", Helvetica;
  --inter-12-font-weight: 500;
  --inter-12-font-size: 12px;
  --inter-12-letter-spacing: 0px;
  --inter-12-line-height: 160.0000023841858%;
  --inter-12-font-style: normal;
  --inter-14-font-family: "Inter", Helvetica;
  --inter-14-font-weight: 500;
  --inter-14-font-size: 14px;
  --inter-14-letter-spacing: 0px;
  --inter-14-line-height: 160.0000023841858%;
  --inter-14-font-style: normal;
  --inter-16-font-family: "Inter", Helvetica;
  --inter-16-font-weight: 500;
  --inter-16-font-size: 16px;
  --inter-16-letter-spacing: 0px;
  --inter-16-line-height: 160.0000023841858%;
  --inter-16-font-style: normal;
  --inter-18-font-family: "Inter", Helvetica;
  --inter-18-font-weight: 500;
  --inter-18-font-size: 18px;
  --inter-18-letter-spacing: 0px;
  --inter-18-line-height: 160.0000023841858%;
  --inter-18-font-style: normal;
  --inter-20-font-family: "Inter", Helvetica;
  --inter-20-font-weight: 500;
  --inter-20-font-size: 20px;
  --inter-20-letter-spacing: 0px;
  --inter-20-line-height: 160.0000023841858%;
  --inter-20-font-style: normal;
  --inter-24-font-family: "Inter", Helvetica;
  --inter-24-font-weight: 500;
  --inter-24-font-size: 24px;
  --inter-24-letter-spacing: 0px;
  --inter-24-line-height: 160.0000023841858%;
  --inter-24-font-style: normal;
  --inter-30-font-family: "Inter", Helvetica;
  --inter-30-font-weight: 500;
  --inter-30-font-size: 30px;
  --inter-30-letter-spacing: 0px;
  --inter-30-line-height: 160.0000023841858%;
  --inter-30-font-style: normal;
  --inter-36-font-family: "Inter", Helvetica;
  --inter-36-font-weight: 500;
  --inter-36-font-size: 36px;
  --inter-36-letter-spacing: 0px;
  --inter-36-line-height: 160.0000023841858%;
  --inter-36-font-style: normal;
  --inter-42-font-family: "Inter", Helvetica;
  --inter-42-font-weight: 500;
  --inter-42-font-size: 42px;
  --inter-42-letter-spacing: 0px;
  --inter-42-line-height: 160.0000023841858%;
  --inter-42-font-style: normal;
  --inter-52-font-family: "Inter", Helvetica;
  --inter-52-font-weight: 500;
  --inter-52-font-size: 52px;
  --inter-52-letter-spacing: 0px;
  --inter-52-line-height: 160.0000023841858%;
  --inter-52-font-style: normal;
  --popins-64-h1-font-family: "Poppins", Helvetica;
  --popins-64-h1-font-weight: 700;
  --popins-64-h1-font-size: 64px;
  --popins-64-h1-letter-spacing: 0px;
  --popins-64-h1-line-height: 129.99999523162842%;
  --popins-64-h1-font-style: normal;
  --popins-52-h2-font-family: "Poppins", Helvetica;
  --popins-52-h2-font-weight: 700;
  --popins-52-h2-font-size: 52px;
  --popins-52-h2-letter-spacing: 0px;
  --popins-52-h2-line-height: 129.99999523162842%;
  --popins-52-h2-font-style: normal;
  --popins-36-h3-font-family: "Poppins", Helvetica;
  --popins-36-h3-font-weight: 700;
  --popins-36-h3-font-size: 36px;
  --popins-36-h3-letter-spacing: 0px;
  --popins-36-h3-line-height: 129.99999523162842%;
  --popins-36-h3-font-style: normal;
  --popins-24-h4-font-family: "Poppins", Helvetica;
  --popins-24-h4-font-weight: 700;
  --popins-24-h4-font-size: 24px;
  --popins-24-h4-letter-spacing: 0px;
  --popins-24-h4-line-height: 129.99999523162842%;
  --popins-24-h4-font-style: normal;
  --popins-20-font-family: "Poppins", Helvetica;
  --popins-20-font-weight: 700;
  --popins-20-font-size: 18px;
  --popins-20-letter-spacing: 0px;
  --popins-20-line-height: 129.99999523162842%;
  --popins-20-font-style: normal;
  --popins-52-h1-mob-font-family: "Poppins", Helvetica;
  --popins-52-h1-mob-font-weight: 700;
  --popins-52-h1-mob-font-size: 52px;
  --popins-52-h1-mob-letter-spacing: 0px;
  --popins-52-h1-mob-line-height: 129.99999523162842%;
  --popins-52-h1-mob-font-style: normal;
  --popins-32-h2-mob-font-family: "Poppins", Helvetica;
  --popins-32-h2-mob-font-weight: 700;
  --popins-32-h2-mob-font-size: 32px;
  --popins-32-h2-mob-letter-spacing: 0px;
  --popins-32-h2-mob-line-height: 129.99999523162842%;
  --popins-32-h2-mob-font-style: normal;
  --popins-24-h3-mob-font-family: "Poppins", Helvetica;
  --popins-24-h3-mob-font-weight: 700;
  --popins-24-h3-mob-font-size: 24px;
  --popins-24-h3-mob-letter-spacing: 0px;
  --popins-24-h3-mob-line-height: 129.99999523162842%;
  --popins-24-h3-mob-font-style: normal;
  --popins-20-h4-mob-font-family: "Poppins", Helvetica;
  --popins-20-h4-mob-font-weight: 700;
  --popins-20-h4-mob-font-size: 20px;
  --popins-20-h4-mob-letter-spacing: 0px;
  --popins-20-h4-mob-line-height: 129.99999523162842%;
  --popins-20-h4-mob-font-style: normal;
}
