.frame {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 32px;
  display: flex;
  position: relative;
}

.frame .div {
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 0px;
  background-color: var(--ultra-dark20);
  border-radius: 32px;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .title-MOB {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 258px 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .text-wrapper {
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--popins-52-h2-font-family);
  font-weight: var(--popins-52-h2-font-weight);
  color: var(--ultra-gray30);
  font-size: var(--popins-52-h2-font-size);
  letter-spacing: var(--popins-52-h2-letter-spacing);
  line-height: var(--popins-52-h2-line-height);
  display: flex;
  position: relative;
  font-style: var(--popins-52-h2-font-style);
}

.frame .view-wrapper {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 258px;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .view {
  flex-direction: column;
  align-items: flex-start;
  padding: 64px 52px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--ultra-dark50);
  border-radius: 32px;
  display: flex;
  position: relative;
}

.frame .div-2 {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .div-3 {
  align-items: center;
  padding: 32px 40px;
  background-color: var(--ultra-dark20);
  border-radius: 32px;
  overflow: hidden;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .text-wrapper-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--ultra-gray30);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24.0px;
}

.frame .text-wrapper-3 {
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: -1.00px;
  font-family: var(--inter-18-font-family);
  font-weight: var(--inter-18-font-weight);
  color: var(--ultra-gray30);
  font-size: var(--inter-18-font-size);
  letter-spacing: var(--inter-18-letter-spacing);
  line-height: var(--inter-18-line-height);
  display: flex;
  position: relative;
  font-style: var(--inter-18-font-style);
}

.frame .text-wrapper-4 {
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: -1.00px;
  font-family: var(--inter-18-font-family);
  font-weight: var(--inter-18-font-weight);
  color: var(--ultra-gray30);
  font-size: var(--inter-18-font-size);
  text-align: right;
  letter-spacing: var(--inter-18-letter-spacing);
  line-height: var(--inter-18-line-height);
  display: flex;
  position: relative;
  font-style: var(--inter-18-font-style);
}

.frame .element {
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #fcfdfe;
  font-size: 18px;
  text-align: right;
  letter-spacing: 0;
  line-height: 28.8px;
  display: flex;
  position: relative;
}
