/*
   SECTION: FAQ
                                                                */
.faq {
  width: var(--container-width);
  padding: 0 var(--content-padding);
}

.faq__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1340px;
  padding: 64px 52px;
  background-color: var(--color-bg);
  border-radius: var(--radius-xl);
}

.faq__header {
  padding-bottom: var(--space-xl);
}
