/*
   SECTION: HERO
                                                                */
.hero {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  padding: 0 var(--content-padding);
  width: var(--container-width);
}

.hero__left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
}

.hero__title {
  padding-bottom: var(--space-2xl);
}

.hero__social {
  display: flex;
  align-items: center;
  padding-top: 44px;
  gap: var(--space-md);
}

.hero__image {
  width: 672px;
  height: 680px;
  object-fit: contain;
}
