/*
   SECTION: HOW TO USE
                                                                */
.how-to-use {
  width: var(--container-width);
  padding: 0 var(--content-padding);
}

.how-to-use__inner {
  display: flex;
  flex-direction: column;
  max-width: 1340px;
  width: 100%;
  padding: 64px 52px;
  background-color: var(--color-bg);
  border-radius: var(--radius-xl);
}

.how-to-use__inner > header {
  padding-bottom: var(--space-xl);
}

.how-to-use__cta {
  display: flex;
  justify-content: center;
  padding-top: var(--space-xl);
}
