/*
   SECTION: PLATFORMS (Android & IOS)
                                                                */
.platforms {
  display: flex;
  flex-direction: column;
  width: var(--container-width);
  padding: 0 var(--content-padding);
}

.platforms__header {
  padding-bottom: var(--space-xl);
}

.platforms__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-lg);
}

.platforms__grid img {
  width: 100%;
  height: auto;
}
